body{
  position: relative!important;
}

/* user side image previewer */

/* #jd-productForm {
  input, textarea {
    width: 100%!important;
    padding-block: .5rem;
  }
} */

.existing-images {
  margin-top: 1rem;
  p {
    margin: 0;
  }
}

#existingImagePreview img, #imagePreview img{
  height: 50px;
  max-width: 80px;
  position: relative;
}

#cropper110Modal{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(53, 52, 52, 0.532);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#cropper110Modal img {
max-width: 100%;
}

.cropper110-page {
margin: 1em auto;
max-width: 768px;
height: 100%;
}

.cropper110-box {
padding: 0.5em;
width: calc(100%/2 - 1em);
  max-height: 60vh;
}



.cropper110-crop , .cropper110-close {
  padding: .5rem 1rem;
  background-color: rgb(0,0,0);
  color: #fff;
  font-weight: bold;
}

.cropper110-close{
  background-color: red;
}

#existingImagePreview {
  display: flex;
  gap: .5rem;
}

#existingImagePreview > div {
  display: block;
  position: relative;
  i {
    display: block;
    position: absolute;
    top:0;
    background: white;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: auto;
    cursor: pointer;
    &:hover {
      color: maroon;
    }
  }
  img {
    display: block;
  }
}