<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    JDgreenz Dashboard
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/admin/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/admin/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/admin/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

  <link rel="stylesheet" href="/admin/css/custom.css">

  <% if (locals.cropper) { %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
    <% } %>

      <style>
        input,
        textarea,
        select {
          display: block;
        }

        .input-group {
          margin-block: 0.75rem;
        }

        body {
          position: relative !important;
        }

        /* user side image previewer */

        #imagePreview img {
          height: 50px;
          max-width: 80px;
        }
        #bannerImagePreview img {
          height: 256px;
          max-width: 100%;
          border: 2px solid green;
          margin-block: 1rem;
        }

        #cropper110Modal {
          position: fixed;
          width: 100vw;
          height: 100vh;
          background-color: rgba(53, 52, 52, 0.532);
          display: flex;
          justify-content: center;
          align-items: center;
          display: none;
          z-index: 10000;
        }

        #cropper110Modal img {
          max-width: 100%;
        }

        .cropper110-page {
          margin: 1em auto;
          max-width: 768px;
          height: 100%;
        }

        .cropper110-box {
          padding: 0.5em;
          width: calc(100%/2 - 1em);
          max-height: 60vh;
        }



        .cropper110-crop,
        .cropper110-close {
          padding: .5rem 1rem;
          background-color: rgb(0, 0, 0);
          color: #fff;
          font-weight: bold;
        }

        .cropper110-close {
          background-color: red;
        }
      </style>
</head>